// Goal: Write a function sum that takes one
// argument, say n, and returns 1 + ... + n.
// Call sum with argument 30 and store the
// result in temp 0.

push constant 30
call Sum.sum 1
pop temp 0
label infinite_loop
goto infinite_loop

// argument 0 will be the number we're trying
// to sum to.
function Sum.sum 1
push constant 1
// let i=2 (local 0 will be our i)
push constant 2
pop local 0
// while (i <= argument 0)
label loop_start
// Break out of loop if i > argument 0
push local 0
push argument 0
gt
if-goto loop_end
// push i
push local 0
add
// i++
push local 0
push constant 1
add
pop local 0
// Loop
goto loop_start
label loop_end
return
